Schemas/DemoSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/DemoSchema" xmlns:tns="http://www.example.org/DemoSchema" elementFormDefault="qualified">

    <element name="GITHead" type="tns:GITFiles"></element>
    

    <complexType name="GITFiles">
    	<sequence>
    		<element name="FileName" type="string"></element>
    		<element name="DateModified" type="dateTime"></element>
    	</sequence>
    </complexType>
</schema>